body {
    width: 90%;
    margin: 0 auto;
    min-height: 100vh;
    background-color: black;
    display: flex;
    font-family: Georgia, times, serif;
}

#content {
    overflow: auto;
}

#header {
    color: white;
    width: 940px;
    margin: 20px auto 20px auto;
    border: 2px solid black;
    text-align: center;
    display: block;
}

#nav {
    margin: 20px auto 20px auto;
    width: 940px;
    background-color: grey;
    border: 2px solid black;
}

#nav a:link,
#nav a:visited {
    color:white;
}

.feature {
    color:white;
    background-color: grey;
}

.info {
    color: white;
    background-color: grey;
    margin: 20px auto 20px auto;
    border: 10px black;
    text-align: center;
    display: block;
}