body {
    min-height: 100vh;
    background-color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
}


#header {
    color: white;
    margin: 20px auto 20px auto;
    text-align: left;
    display: block;
}

#name {
    margin-left: 20px;
}

#nav {
    margin: 20px auto 20px auto;
    width: 100%;
    background-color: grey;
    border: 2px solid black;
    margin-top:50px;
}
#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

#nav a:link,
#nav a:visited {
    color:white;
    text-decoration: none;
    padding: 10px 15px;
    display:block;
}

#nav a:hover {
    transform: translateY(2px);
    color: #ffdd44;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    text-shadow: 0 0 10px #ffdd44;
}

#feature {
    color:white;
    text-align: left;
    font-size: x-large;
    margin-left: 40px;
}


.info {
    color: white;
    background-color: black;
    margin: 20px auto 20px auto;
    border: 10px black;
    text-align: center;
    display: block;
}